h2, h3, h4, h5 {
  color: skyblue;
  font-family: sans-serif;
}
table, th, td {
  border: 2px solid purple;
}
ul {
  list-style-type: square;
}

a:hover {
  background-color: green;
  text-decoration: none;
}

#p2 {
  color: yellow;
  background-color: darkblue;
}
